{% extends 'layout.html.twig' %}
{% block content %}
      {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
        {% for alert in alertTypeAvaillable %}
            {% for message in app.session.getFlashBag.get(alert) %}
                <div class="alert alert-{{ alert }}" >
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}

        <h4>Busque o seu empreendimento aqui.</h4>
        <form class="form-inline" role="form" action="/buscar" method="post">
         
             <div class="input-group">
                 <input type="search" class="form-control" value="{{busca}}" id="busca" name="busca" placeholder="Procure agora seu empreendimento">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Buscar</button>
                </span>
              </div>
            <a href="/empreendimento/novo"><b style="color:#b92c28;font-size: 12px">Seu empreendimento não está aqui ? Cadastre agora.</b></a>
        </form>
        <br />

        {% if numPages >= 1 and exibeErro == false %}
        
        <div class="panel panel-default">
            <div class="panel-heading active">
              <b>Resultado da busca</b>
            </div>
            
              <ul class="list-group">
                    {% for empreendimento in aLista %}
                    <li class="list-group-item list-group-item-success">
                        {% if oUser %}
                                        {% if oUser.idemp %}
                                            {% if oUser.idemp == empreendimento.id %}
                                                <a href="{{uri}}/{{empreendimento.idnome}}" type="button" class="btn btn-warning btn-xs" title="CLIQUE AQUI">Meu Condomínio</a>
                                            {% endif %}
                                        {% else %}
                                                <a href="/morador/update/{{empreendimento.idnome}}" type="button" class="btn btn-warning btn-xs" title="CLIQUE AQUI">Meu Condomínio</a>
                                        {% endif %}
                                    {% endif %}
                        <a href="{{uri}}/{{empreendimento.idnome}}">{{empreendimento.nome}} - {{empreendimento.empresa.nome}}</a>
                    </li>
                    {% endfor %}
                </ul>
            {% include "pagination_busca.html.twig" %}
          </div>
   
        {% endif %}
        {% if exibeErro == true %}
            <div class="list-group">
            <a href="#" class="list-group-item active" style="cursor: default">
              <b>Resultado da busca</b>
            </a>
            <a href="/empreendimento/novo" class="list-group-item list-group-item-danger"><b>Nenhum empreendimento encontrado. Cadastre agora mesmo clicando aqui!</b></a>
            <br />
            {% include "pagination_busca.html.twig" %}
            </div>
        {% endif %}
        
        <div class="panel panel-default">
            <div class="panel-heading"><b>Empreendimentos mais procurados</b></div>
            
                <ul class="list-group">
                    {% for empreendimento in aEmpMaisProcurados %}
                        <li class="list-group-item"> 
                            {% if oUser %}
                                {% if oUser.idemp %}
                                    {% if oUser.idemp == empreendimento.id %}
                                        <a href="{{uri}}/{{empreendimento.idnome}}" type="button" class="btn btn-warning btn-xs" title="CLIQUE AQUI">Meu Condomínio</a>
                                    {% endif %}
                                {% else %}
                                        <a href="/morador/update/{{empreendimento.idnome}}" type="button" class="btn btn-warning btn-xs" title="CLIQUE AQUI">Meu Condomínio</a>
                                {% endif %}
                            {% endif %}
                            <a href="{{uri}}/{{empreendimento.idnome}}">{{empreendimento.nome}}</a>
                        </li>
                    {% endfor %}
                </ul>
            
        </div>

            <div class="list-group">
            <a href="#" class="list-group-item active" style="cursor: default">
              <b>Por que reclamar aqui?</b>
            </a>
                <a href="#" class="list-group-item" style="cursor: default">1 - <b style="color:#b92c28">Você cadastra sua reclamação. E nós fazemos o trabalho pesado</b>.</a>
                <a href="#" class="list-group-item" style="cursor: default">2 - <b style="color:#b92c28">Nós divulgamos em todas as redes sociais, inclusive para o responsável do seu empreendimento.</b></a>
                <a href="#" class="list-group-item" style="cursor: default">3 - <b style="color:#b92c28">Quer entrar na justiça mas não lembra o que tinha de problema ? Nós vamos lhe fornecer todo histórico de reclamações, onde você não se preocupa em guardar estes problemas, é só voltar no Reclameimovel.com.br que teremos um pdf com todas as suas reclamações.</b></a>
                <a href="#" class="list-group-item" style="cursor: default">4 - <b style="color:#b92c28">Você pode reunir todas as reclamações do mesmo empreendimento, sendo assim fica mais fácil para todos os moradores.</b></a>
                <a href="#" class="list-group-item" style="cursor: default">5 - <b style="color:#b92c28">Poder ter tudo em um lugar só e ainda poder divulgar isso para que a empresa tenha noção do que esta fazendo.</b></a>
          </div>

        
{% endblock %}
