{% extends 'layout.html.twig' %}
{% block content %}
      {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
        {% for alert in alertTypeAvaillable %}
            {% for message in app.session.getFlashBag.get(alert) %}
                <div class="alert alert-{{ alert }}" >
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
        <h4>Busque o seu empreendimento aqui.</h4>
        <form class="form-inline" role="form" action="/buscar" method="post">
         
             <div class="input-group">
                 <input type="search" class="form-control" id="busca" name="busca" placeholder="Procure agora seu empreendimento">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="submit">Buscar</button>
                </span>
              </div>
        </form>
        {% if numPages > 1 %}
            <br>
            <ul class="list-group">
                {% for empreendimento in aLista %}
                    <li class="list-group-item"> 
                        <a href="/{{empreendimento.idnome}}">{{empreendimento.nome}}</a>
                    </li>
                {% endfor %}
            </ul>
            {% include "pagination.html.twig" %}
        {% endif %}
        <br>
        
        <div class="panel panel-default">
            <div class="panel-heading"><b>Empreendimentos mais procurados</b></div>
            
                <ul class="list-group">
                    {% for empreendimento in aEmpMaisProcurados %}
                        <li class="list-group-item"> 
                            <a href="{{app.view_path}}/{{empreendimento.idnome}}">{{empreendimento.nome}}</a>
                        </li>
                    {% endfor %}
                </ul>
            
        </div>

        {% endblock %}
