<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pt" lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% if metaDescription %}
        <meta name="description" content="{{metaDescription}}">
        {% else %}
        <meta name="description" content="Antes de comprar seu imóvel consulte nosso site e evite dor de cabeça,Reclamações, Problemas, prazos inacabaveis, cobrança indevida, Imóveis, Insatisfeito Reclamações de empreendimento, apartamento, beneficio popular">
        {% endif %}
                
        <meta name="author" content="Reclame Imóvel">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />        
        <meta name="language" content="pt" />

        <!-- Bootstrap core CSS -->
        <link href="{{ app.request.basepath }}/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/css/theme.min.css" rel="stylesheet">
        <link href="{{ app.request.basepath }}/css/south-street/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
            
        <title>{{app.title_layout}}</title>        
    </head>
<body role="document">
    {% set active = active|default(null) %}
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Reclame Imóvel</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li  {% if 'principal' == active %}class="active"{% endif %}><a href="{{ path('principal') }}"><i class="icon-home"></i>  {{ 'Principal'|trans }}</a></li>
            <li  {% if 'morador' == active %}class="active"{% endif %}><a href="{{ path('morador') }}"><i class="icon-user"></i>  {{ 'Morador'|trans }}</a></li>
            {% if app.user %}
            <li  {% if 'minhas_reclamacoes' == active %}class="active"{% endif %}><a href="{{ path('minhas_reclamacoes') }}"><i class="icon-bullhorn"></i>  {{ 'Minhas Reclamações'|trans }}</a></li>
            {% endif %}
            <li {% if 'construtora' == active %}class="active"{% endif %}><a href="{{ path('construtora') }}"><i class="icon-th"></i>  {{ 'Construtora'|trans }}</a></li>
            <li {% if 'buscar' == active %}class="active"{% endif %}><a href="{{ path('buscar') }}"><i class="icon-search"></i>  {{ 'Buscar'|trans }}</a></li>
	</ul>
           <ul class="nav navbar-nav  pull-right">
	{% if app.user %}
        <li>
		<a href="{{ app.login.logout_path }}"><i class="glyphicon glyphicon-lock"></i> Sair</a>
	</li>
	{% else %}

        <li>
		<a href="/login"><i class="glyphicon glyphicon-upload"></i> Entrar</a>
	</li>
	{% endif %}
        </ul> 
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <br /><br /><br />
    <!-- Begin page content -->
    <div class="container" role="main">      
        {% block secondaryNavigation %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <script src="{{ app.request.basepath }}/js/jquery-2.0.3.min.js"></script>
    <script src="{{ app.request.basepath }}/js/jquery-ui.js"></script>
    <script src="{{ app.request.basepath }}/js/bootstrap.min.js"></script>
    <script src="{{ app.request.basepath }}/js/start.js"></script>
    <script src="{{ app.request.basepath }}/js/adicionar.js"></script>
    
    <div id="fb-root"></div>

</body>
</html>
