{% extends 'layout.html.twig' %}
{% block content %}


    <div class="col-md-8">
        <h3>
            <button type="button" id="adicionar" class="btn btn-danger btn-xs">Adicionar Reclamação</button>
            <b>{{nome_empresa}} / {{nome_emp}}</b>
        </h3>
        <br>
        Reclamações
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-danger " role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: {{total}}%">
                <span class="sr-only">{{total}}% Complete (danger)</span>
            </div>
        </div>
        Soluções
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{solucao}}%">
                <span class="sr-only">{{solucao}}% Complete (success)</span>
            </div>
        </div>
        <!-- Respostas
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                <span class="sr-only">60% Complete (warning)</span>
            </div>
        </div> -->
        <br />
        <ul class="list-group">
        {% for reclamacao in aLista %}
            <li class="list-group-item"> 
                <span class="label label-danger left" style="border-radius:10px;float: right;margin-left: 20px">Pendente</span> 
                <span class="badge" title="Visualizações">{{reclamacao.visita}}</span>
                <a href="{{app.view_path}}/{{reclamacao.empreendimento.idnome}}/{{reclamacao.id}}">{{reclamacao.dt_cadastro.date|date('d/m/Y H:i')}} - {{reclamacao.titulo}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
<script>
    var META_DESC   = "OOOOOOOOOOOOOOO";
    var META_TITLE  = "OIIIIIIIIII";
    
</script>
    {% include "pagination.html.twig" %}
{% endblock %}
