{% extends 'layout.html.twig' %}
{% block content %}
{% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
        {% for alert in alertTypeAvaillable %}
            {% for message in app.session.getFlashBag.get(alert) %}
                <div class="alert alert-{{ alert }}" >
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
<div class="col-md-8">
    <div class="panel-group" >
        <div class="panel panel-default">
            <div class="panel-heading">

                <h3><b>{{reclamacao.titulo}}</b> - {{reclamacao.empreendimento.empresa.nome}}</h3>
                <span style="font-size: 12px">{{reclamacao.empreendimento.cidade}} - {{reclamacao.empreendimento.uf}} </span><br />
                <span style="font-size: 10px">{{reclamacao.dt_cadastro.date}}</span>
                <div style="float: right;font-size: 12px"><b>Autor:</b> {{reclamacao.user.name}}</div>    

            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body text-justify">
                            {{reclamacao.descricao|nl2br}}
                </div>
                <div style="padding: 11px;color:#080808">
                    <b style="float: left;margin-right: 5px">Avise ao seus amigos: </b>
                    <div class="fb-share-button" data-href="{{app.view_path}}/{{reclamacao.empreendimento.idnome}}/{{reclamacao.id}}" data-type="button_count"></div>
                    
                </div>

            </div>
        </div>
        {% if imagem %}
        <div class="panel panel-default">
            <div class="panel-heading"><h3><b>Imagens</b></h3></div>
            <div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body text-justify">
                    {% for img in imagem %}
                        <img src="http://reclameimovel.com.br/images/reclamacao/{{img.file}}" alt="Imagem {{img.id}}" class="img-thumbnail">
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if reclamacao.youtube %}
         <div class="panel panel-default">
            <div class="panel-heading"><h3><b>Vídeo</b></h3></div>
            <div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body text-justify">
                    <iframe  width="100%" height="315" src="//www.youtube.com/embed/{{youtube}}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

{% endblock %}
